.js-delete svg{
    fill: black !important;
    height: 20px !important;
    padding-top: 5px !important;
}

.js-delete{
    margin-top: 5px;
    width: 100%;
    border-radius: 0.385rem;
    height: 80%;
    overflow: hidden;
}

#customerName{
    border: 1px solid #f3f4f6;
    background: #f3f4f6;
    border-radius: 5px;
    padding: 6px;
    font-size: initial;
    margin-top: 4px;
  }

  #print{
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url('../Images/wooferPng.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }


 